html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerBold'), url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerLight'), url('../fonts/MullerLight.woff2'), format('woff2'), url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerMedium'), url('../fonts/MullerMedium.woff2'), format('woff2'), url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
}

/*Globe*/

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;

}

.section-offset {
    padding-top: 70px;
}

/*Header*/

.header {
    padding: 30px 0 0 0;
}

.header-container {
    align-items: center;
}

.header-contacts {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header-acc {
  font-size: 16px;
  line-height: 16px;
  color: #CC9933
}

.header-icon {
  margin-right: 7px;
}

.header-logo {
    margin-right: 40px;
}

.header-top {
    margin-bottom: 30px;
}

.contacts-item {
    margin-right: auto;
}

.header-bottom {
    padding: 12px 45px 12px 45px;
    background: #FFFFFF;
    border-radius: 15px
}

.header-list-item {
    font-size: 16px;
    line-height: 16px;
    color: #666666
}

.header-list-item:not(:last-child) {
    margin-right: 52px;
}

.header-nav {
    margin-right: auto;
    }

.header-btn1 {
    margin-right: 40px;
}

.btn {
  border: 1px solid #CC9933;
  border-radius: 10px;
  padding: 13px 20px;
  font-size: 16px;
  color: #CC9933;
  background-color: #FFFFFF;
}

/* Special*/

.special-content {
    min-height: 540px;
}

.special-cards {
  flex-direction: column;
  width: 573px;
}

.special-cards:not(:last-child) {
  margin-right: 30px;
}

.special-card-item {
    flex: 1;
    margin-bottom: 30px;
    padding: 40px;
}

.item-left1 {
    background-image: url('../img/special-img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.item-left2 {
    background-image: url('../img/special-img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.item-right {
  background-image: url('../img/special-img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.special-card-item:last-child {
    margin-bottom: 0;
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.special-title-card {
    margin: 0;
    margin-bottom: 15px;
    max-width: 420px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.special-title-card-left {
    margin: 0;
    margin-bottom: 15px;
    max-width: 299px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.special-price {
  display: block;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.special-price-left {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.special-link {
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  display: flex;
  align-items: center;
}

/*About Us*/

.about_us-descr {
    margin: 0;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    max-width: 888px;
}

/*Services*/

.services-list {
    flex-wrap: wrap;
}

.services-item {
    position: relative;
    width: 573px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border-radius: 15px;
}

.services-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 165px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.services-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.blog-preview-title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933
}

.blog-preview-descr {
    margin: 0;
    max-width: 402px;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.blog-text {
    padding: 191px 45px 35px 45px;
}

.services-img1:before {
  background-image: url('../img/services-img1.jpg');
}

.services-img2:before {
  background-image: url('../img/services-img2.jpg');
}

.services-img3:before {
  background-image: url('../img/services-img3.jpg');
}

.services-img4:before {
  background-image: url('../img/services-img4.jpg');
}

.services-link {
  display: flex;
  align-items: center;
  max-width: max-content;
}

/*Advantages*/

.advanages-list {
    flex-wrap: wrap;
}

.advantages-item {
    position: relative;
    width: 276px;
    margin-bottom: 22px;
    padding: 116px 42px 32px 45px;
    background: #FFFFFF;
    border-radius: 15px;

}

.advantages-item:before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: 40px;
  left: 45px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.advantages-img1:before {
  background-image: url('../img/bathtub.png');
}

.advantages-img2:before {
  background-image: url('../img/hanger.png');
}

.advantages-img3:before {
  background-image: url('../img/heating.png');
}

.advantages-img4:before {
  background-image: url('../img/hotel-key.png');
}

.advantages-img5:before {
  background-image: url('../img/parking.png');
}

.advantages-img6:before {
  background-image: url('../img/reception.png');
}

.advantages-img7:before {
  background-image: url('../img/security-box.png');
}

.advantages-img8:before {
  background-image: url('../img/swimming-pool.png');
}



.advantages-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-item-descr {
    margin: 0;
    font-size: 16px;
    line-height: 200%;
    color: #000000
}

/*Accommodation*/

.accommodation-list {
    flex-wrap: wrap;
}

.accommodation-item {
    flex-direction: column;
    width: 374px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border-radius: 15px;
}

.accommodation-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.accommodation-info {
    padding: 32px 45px 45px 45px;
}

.hotel_info_descr {
    margin: 0;
    margin-bottom: 16px;
}

.hotel-name {
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.hotel-country {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: #999999;
}

.hotel_price {
    margin-right: 53px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.accommodation-item-content {
    display: flex;
    margin-bottom: 24px;
    padding: 27px;
    width: 374px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.accommodation-image-content {
    background-image: url('../img/accommodation-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.accommodation-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
}

.accommodation-image {
  border-radius: 15px 15px 0 0;
}

.accommodation-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.accommodation-text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

/*Tour*/

.tour-card {
  height: 256px;
  background: #E9E9E9;
  border-radius: 15px;
  padding: 45px;
}

.tour-title {
  margin: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
opacity: 1;
}

.form-tour {
  padding: 32px 28px 32px 28px;
  background: #FFFFFF;
  border-radius: 15px;
  align-items: center;
}

.tour-item:not(:last-child) {
  margin-right: 42px;
}

.tour-descr {
  margin: 0;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.list-tour {
  margin-right: auto;
}

.form-input {
  border: none;
  border-bottom: 1px solid  #E9E9E9;
  width: 121px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.form-input-date {
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.form-select1 {
  border: none;
  padding-right: 26px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.form-select2 {
  border: none;
  padding-right: 76px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

/*Contacts*/

.contacts {
  padding-top: 70px;
  padding-bottom: 40px;
}

.contacts-card {
  min-height: 618px;
  padding: 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.contacts-card-img {
  background-image: url('../img/contacts_img.jpg');
  background-repeat: no-repeat;
  background-position: bottom 45px right 45px;
}

.contacts-list {
  flex-direction: column;
  margin-bottom: 45px;
}

.contacts-title-descr {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.contacts-item {
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 24px;
  width: 375px;
  margin: 0;
}

.contacts-item:not(:last-child) {
  margin-bottom: 23px;
}

.contacts-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.contacts-item-link {
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  max-width: max-content;
}

.email-descr {
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.adress-descr {
  margin-right: 82px;
}

.tel-descr {
  margin-right: 46px;
}

.mail-descr {
  margin-right: 92px;
}

.schedule-descr {
  margin-right: 74px;
}

.email-descr {
  margin: 0;
}

.contacts-right {
  display: flex;
  flex-direction: column;
}

.btn-contacts {
border: 1px solid #CC9933;
border-radius: 10px;
padding: 26px 30px;
font-size: 16px;
color: #CC9933;
background-color: #FFFFFF;
}

/*Footrer*/

.footer {
  padding-bottom: 30px;
}

.footer-card {
  position: relative;
  min-height: 340px;
  background: #333333;
  border-radius: 15px;
  padding: 45px;
}

.footer-left {
  flex-direction: column;
  margin-right: 125px;
}

.footer-left-text1 {
  margin: 0;
  margin-bottom: 36px;
  width: 302px;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF
}

.footer-left-text2 {
  margin: 0;
  margin-bottom: 40px;
  width: 302px;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF
}

.left-link {
  max-width: max-content;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.footer-right-list {
  flex-direction: column;
  margin-right: 252px;
}

.footer-right-item {
  flex-direction: column;
}

.footer-right-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-right-text {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-link {
  max-width: max-content;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.social {
  flex-direction: column;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.social-link-tr {
  background-image: url('../img/tr.svg');
}

.social-link-ok {
  background-image: url('../img/ok.svg');
}

.social-link-vk {
  background-image: url('../img/vk.svg');
}

.footer-logo {
  position: absolute;
  background-image: url('../img/logo-footer.png');
  background-repeat: no-repeat;
  display: block;
  width: 254px;
  height: 228px;
  background-size: cover;
  right: 176px;
  top: 110px;
}

